.view-now-playing
	padding 24px
	ul li
		color #ddd
		opacity 0.6
	
	.title
		font-family font_light
		font-size 20px
	.album
		font-size 14px
		font-family font_regular
	.year
		font-size 12px
		font-family font_semibold
	
	li.albumart img
		width 160px
		height 160px
		border 1px theme_border solid
		