.view-now-playing
	padding 24px
	ul li
		color theme_font
	
	.title
		font-family font_light
		font-size 20px
		margin-bottom 6px

	.album, .artist
		color lighten(theme_font, 20%)
		font-size 14px
		font-family font_semibold	
	.year
		margin-top 4px
		font-size 12px
		font-family font_semibold
	
	li.albumart
		margin 20px 0 
		width 160px
		height 160px
		border 1px theme_border solid
		animation rollIn 0.3s
		.blob-image
			width 100%
			height 100%
			background-size cover
			background-repeat no-repeat
			
			
			

// Animations
.view-now-playing 
	
	.title, .album, .artist, .year
		animation fadeInUp 0.1s

	.album
		animation-duration 0.15s
	.artist
		animation-duration 0.20s
	.year
		animation-duration 0.25s
