@keyframes list-animate
	from
		margin-left -80px
		opacity 0
	to
		margin-left 0
		opacity 1

.view-songs-list
	.song-item
		display block
		opacity 0.8
		color #bbb
		&:hover
			opacity 0.8
			//background-color rgba(#000, 0.12)
		&:active
			//background-color rgba(#000, 0.24)
		&:last-child
			border-bottom none
			
		// &:nth-child(2n)
		// 	animation-duration 0.1s
		// &:nth-child(3n)
		// 	animation-duration 0.2s
			
	.song-item.active
		opacity 1
		background-color rgba(#000, 0.4)
		flex-basis 300px
		color #eee

	.song-inner
		Flex-Horizontal()
		justify-content space-between
		align-items center
		padding 12px 24px
		box-sizing border-box
		width 100%
		animation list-animate time_1x ease-in-sine
		
		> h4
			margin 0
	
	// Layout
	.title
		flex 2
	.album
		flex 1
	.artist
		flex 1
	.year
		flex-basis 70px
		text-align right
		
		
	
	.title, .album, .artist
		whitespace nowrap
		overflow hidden
		text-overflow ellipsis