.view-control-bar .control-bar
	absolute bottom left right
	z-index z4
	Flex-Horizontal()
	height 80px

.view-control-bar .player-controls
	list-style none
	.control
		display inline-block
		padding 24px
		font-size 1.6em

// Theme Stuff
.view-control-bar
	animation fadeInUp time_2x
	.control-bar
		background-color theme_panel
	.player-controls .control
		color theme_font
		opacity 0.6
		> i
			animation bounce time_2x	
		