

lesscss-percentage(n)
  (n * 100)%
.social-post
  border 1px theme_border solid
  border-bottom none
  background-color theme_bg
  box-shadow(unquote("0px 0px 8px 0px rgba(0,0,0,0.25)"))
  .pic
    position relative
    border-bottom 1px theme_border solid
    z-index 40
    &:after
      display block
      position absolute
      bottom -2px
      left 20px
      content ""
      z-index 42
      border 10px transparent solid
      border-bottom-color #FFF
    &:before
      display block
      position absolute
      bottom -1px
      left 20px
      content ''
      z-index 41
      border 10px transparent solid
      border-bottom-color theme_border
      
  .post
    box-sizing(unquote("border-box"))
    padding 10px 20px 8px 20px
    background-color #FFF
    border-bottom 1px theme_border solid
    
    blockquote
      border-left none
      margin-bottom 5px
      p
        font-size 14px
      small
        font-size 12px
        a
          font-size 13px
          &:hover
            color color_base
    ul.post-details
      margin-left 15px
      list-style none
      > li
        display inline-block
        margin-right 15px
        opacity 0.6
        cursor pointer
        transition(opacity 0.3s ease)
        > i
          font-size 14px
          vertical-align middle
          margin-right 4px
        > span.name
          vertical-align middle
          font-size 13px
        &:hover
          opacity 1
        &:active
          opacity 1
          color color_base
  img.media-object
    width 64px
    height 64px
    background-color color_base
    border-color theme_border
  ul.media-list.comments
    background-color #FFF
    perspective(unquote("1000"))
   
    li.media
      margin-top 0px
      border-bottom 1px theme_border solid
      .media-heading
        margin-top 5px
        font-family baseFont
        font-size 14px
        color #AAA
        .name
          font-size 16px
          color #333
        
    li.media.newcomment
      input[type='text']
        box-shadow none
        background-color theme_widget
        margin-top 10px
        border none
    li.toggle3d
      position absolute
    li.isHidden
      transform(unquote("rotateX(30deg)"))
ul.chatbox
  margin 0
  padding 0
  width 100%
  display inline-block
  li.chat
    display block
    clear both
    margin-bottom 10px
    .pic
      display block
      float left
      img
        height 64px
        width 64px
        border 1px darken(color_base, 10%) solid
    .textwrap
      border-radius(unquote("1px"))
      margin-left 80px
      margin-right 80px
      padding 10px 10px 10px 10px
      background-color color_base
      color #FFF
      font-family baseFont
      font-size 12px
      position relative
      h4.heading
        font-family baseFontSemibold
        font-size 16px
        color #FFF
        margin 0
      &:after
        position absolute
        top 10px
        left -16px
        content ''
        width 0
        height 0
        border 8px transparent solid
        border-right-color color_base
        z-index 40
    &:nth-child(2n)
      .pic
        float right
        img
          border 1px theme_border solid
      .textwrap
        background-color theme_widget
        color theme_font
        border 1px theme_border solid
        &:after
          left initial
          right -8px
          border-right none
          border-left-color theme_widget
        &:before
          position absolute
          content ''
          top 9px
          width 0
          height 0
          border 9px transparent solid
          border-left-color theme_border
          left initial
          right -18px
          z-index 39
        h4.heading
          color theme_font
        p.text
          color theme_font
ul.chatbox.alt
  li.chat
    .pic
      border-radius 200px
      height 72px
      width 72px
      background-color color_base
      box-sizing(unquote("border-box"))
      border 1px darken(color_base, 12%) solid
      position relative
      z-index 40
      overflow hidden
      img
        height 50px
        width 50px
        margin-top 9px
        margin-left 9px
        border-radius 200px
      &:after
        content ''
        position absolute
        top 10px
        left 10px
        height 50px
        width 50px
        border-radius 200px
        box-shadow(unquote("0px 0px 10px 2px rgba(0,0,0,0.4)"))
    .textwrap
      &:after
        width 50px
        height 1px
        left -50px
        top 35px
        z-index 20
        background-color color_base
        border none
    &:nth-child(2n)
      .pic
        background-color theme_widget
        border-color theme_border
      .textwrap
        &:after
          left initial
          right -50px
          background-color theme_border
          border none
        &:before
          display none
.feeds-widget
  width 100%
  height 100%
  display inline-block
  border 1px theme_border solid
  border-radius(unquote("1px"))
  .header
    box-shadow(unquote("inset 0px 1px 0px 0px " + theme_bg + ""))
    box-sizing(unquote("border-box"))
    background-color theme_widget
    height 40px
    width 100%
    padding 8px 10px
    border-bottom 1px theme_border solid
    .title
      margin-top 1px
      font-family baseFontBold
      font-size 12px
      text-shadow 0px 1px 0px lighten(theme_bg, 2%)
      font-weight normal
      color #888

  ul.feeds
    box-shadow(unquote("inset 0px 2px 3px 0px rgba(0,0,0,0.4)"))
    margin 0
    list-style none
    li
      height 30px
      width 100%
      background-color darken(theme_bg, 2%)
      border-top 1px theme_bg solid
      &:not(:last-child)
        border-bottom 1px theme_border solid
.conversation
  position relative
  width 100%
  ul
    list-style none
    margin 0 0 0 15px
    width 100%
    height 280px
    overflow-x hidden
    overflow-y scroll
    li
      &:first-child
        margin-top 20px
      position relative
      z-index 40
      margin-bottom 20px
      clearfix()

      .person
        display block
        float left
        width 56px
        border-radius(unquote("50px"))
        border 1px theme_border solid
        img
          border 4px theme_widget solid
          width 48px
          height 48px
          border-radius(unquote("50px"))
      .info
        margin-left 10px
        display block
        float none
        margin-left 70px
        .name
          font-family baseFontSemibold
          font-size 14px
          color color_base
          display block
          margin-top 8px
        .text
          font-family baseFont
          font-size 14px
          color theme_font
    &:before
      position absolute
      content ''
      top 0
      left 41px
      bottom 0
      width 4px
      border-left 1px theme_border solid
      border-right 1px theme_border solid
      background-color theme_widget
      z-index 30
  .newConversation
    position relative
    z-index 41
    display block
    float none
    height 50px
    border-top 1px theme_border solid
    border-bottom 1px theme_border solid
    z-index 40
    box-sizing(unquote("border-box"))
    .input-append
      top -6px
      left 0
      width 100%
      position relative
      z-index 28
      input
        display block
        float left
        height 40px
        border none
        width 100%
        padding-right 83px
        font-size 16px
        box-shadow(unquote("none"))
        color theme_font
        background-color theme_bg
        position absolute
        top 0
        left 0
        bottom 0
        z-index 30
      input + .btn
        position absolute
        right -7px
        top 0
        height 49px
        padding 10px 20px
        z-index 45
