#app-header
	position fixed

.view-songs
	absolute top left right bottom
	z-index z1
	overflow hidden
	Flex-Horizontal()
	
	.region-now-playing, .region-songs-list
		margin-bottom 80px
	
	.region-now-playing
		flex 2
	
	.region-songs-list
		flex 4
		flex-wrap wrap
		overflow-y auto

	.control-bar
		absolute bottom left right
		z-index z4
		Flex-Horizontal()
		height 80px

.player-controls
	list-style none
	.control
		display inline-block
		padding 24px
		font-size 1.6em


// Theme Stuff
.view-songs
	color_black = #2a2a2a
	trans_black = rgba(#000, 0.24)
	background-color color_black
	
	.control-bar
		background-color trans_black
	.player-controls .control
		color #fff
		opacity 0.6