#app-header
	position fixed

.view-songs
	absolute top left right bottom
	z-index z1
	overflow hidden
	Flex-Horizontal()
	
.view-songs
	.region-now-playing, .region-songs-list
		margin-bottom 80px
	
	.region-now-playing
		flex 2
	
	.region-songs-list
		flex 4
		flex-wrap wrap
		overflow-y auto