.theme .theme-header
	background-image: url('/img/theme-bg.jpg')
	width	100%
	min-height	800px
	background-size	cover
	
	.theme-navbar
		flex	1
		padding	40px 20px
		margin-left 40px
		clearfix()
		
	.theme-navbar .logo
		width	30%
		float	left
		text-align	center
		padding	10px 20px
	.theme-navbar a#logo-btn
		font-size	30px
		color	#ffffff


.theme	.side-nav
	width 60%
	float	left

	ul#menu-nav
		list-style	none
		float right	
		> li
			display block
			float left
			padding 0 22px
			line-height 50px
		> li a
			color #ffffff
			font-size 18px
			font-weight 500

.theme .theme-header .header-text
	margin-left	50%
	line-height	56px
	.quote-text
		font-size	40px
		color	#ffffff
		font-weight	700
	.passion-text
		font-size	20px
		font-weight	400
		color	#ffffff
	a#read-btn
		background-color	Red
		border-radius	4px
		padding	10px 22px	
		color	#ffffff
		font-weight	bold
		font-size	16px
				
//service container			
.theme .service-container
	background-color #F7F7F7
	padding	100px 10vw
	line-height	50px
	
	.container-text
		line-height	40px
		margin-bottom	40px
		.service-text
			font-size	30px
			color	#434A54
			font-weight	700
		.service-tag
			font-size	20px
			color	#434A54
			font-weight	400
			
	//service cat
	.service-cat
		display flex
		margin-top	100px
		clearfix()
		
		//service info card		
		.service-def
			padding	0px 14px
			
		.service-def .service-content
			background-color	#ffffff
			position	relative
			margin-bottom	40px
			text-align	center
			border	1px solid	#eee
			border-radius	4px
			padding	20px
			
		.service-content h3#service-tag
			font-size	18px
			text-transform	uppercase
			font-weight	400
			margin-bottom	20px
			color	#434A54
			line-height	20px
			margin-top 40px
			
		.service-content p#service-brif
			margin	0px 10px
			line-height	20px
			font-size	15px
			font-weight	400
			color	#434A54
			margin-bottom	16px
			
		.service-content span#service-icon
			background-color	Red
			position	absolute
			left	50%
			top	-25px
			width	64px
			border-radius	100%
			font-size	16px
			margin-left	-30px
	
//About
.theme .about-container
	background-image: url('/img/theme-bg.jpg')
	width	100%
	min-height	500px
	background-size	cover
	padding 100px 10vw
	.about-wrap
		line-height	40px
		margin-bottom	40px
	.about-yo
		font-size	30px
		color	#434A54
		font-weight	700
	.about-tag
		font-size	20px
		color	#434A54
		font-weight	400
		
//About Details		
.theme .about-swag
	
	.about-tittle
		font-size	20px
		color #434A54
		font-weight	500
	p#about-info	
		font-size	16px
		font-weight	500
		color #ffffff
		line-height	28px
		width	26%
		
//Skills and Education Details
.theme .skills-container
	background-color #ffffff
	padding	100px 10vw
	line-height	50px
	clearfix()
	
	//Skills Details
	.skills-wrap
		line-height	40px
		margin-bottom	40px
		width	50%
		float	left
		.skills-tittle
			font-size	30px
			color	#434A54
			font-weight	700
		.skills-tag
			font-size	20px
			color	#434A54
			font-weight	400
				
	//Education Details
	.edu-wrap
		line-height	40px
		margin-bottom	40px
		width	50%
		float	left
		.edu-tittle
			font-size	30px
			color	#434A54
			font-weight	700
		.edu-tag
			font-size	20px
			color	#434A54
			font-weight	400

//Work container
.theme .work-container
	background-color #F7F7F7
	padding	100px 10vw
	line-height	50px
	
	//Work Details
	.work-wrap
		line-height	40px
		margin-bottom	40px
		.work-tittle
			font-size	30px
			color	#434A54
			font-weight	700
		.work-tag
			font-size	20px
			color	#434A54
			font-weight	400

//Blog container
.theme .blog-container
	background-color #ffffff
	padding	100px 10vw
	line-height	50px
	
	//Blog Details
	.blog-wrap
		line-height	40px
		margin-bottom	40px
		.blog-tittle
			font-size	30px
			color	#434A54
			font-weight	700
		.blog-tag
			font-size	20px
			color	#434A54
			font-weight	400
	
	.blog-card-wrap
		display flex
		margin-top	40px
		clearfix()
		.blog-card
			padding	0px 14px
			text-align center
			h3#blog-name
				font-size: 20px;
			  font-weight: 600;
			  h3 a
			  	color #ef4034
				
			small#blog-time
				display: block;
  			margin-bottom: 10px;
				
			p#blog-content
				margin: 0 0 10px;